@mixin box-style($darozi,$balandi){
    width: $darozi;
    height: $balandi;
    background-color: red;
    margin-bottom: 20px;
    @if $darozi <= 50%{
        background-color: aquamarine;
    }
    @else if $darozi > 60%{
        background-color: blueviolet;
    }
}
@mixin main-box($darozi,$balandi){
    width: $darozi;
    height: $balandi;
    background-color: red;
    margin-bottom: 20px;
    @if $darozi <= 50%{
        background-color: aquamarine;
    }
    @else if $darozi > 60%{
        background-color: blueviolet;
    }
}
.head{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
   .head1{
    display: flex;
    gap: 20px;
   }
   .head2{
    display: flex;
    gap: 20px;
align-items: center;

button{
    border: 1px solid red;
    padding: 10px 30px;
    color: red;
    border-radius: 20px;
    background-color: white;
}
   }
}
.main{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
    margin: auto;
    padding-bottom: 100px;
    h1{
        font-size: 50px;
    }
    button{
        padding: 15px 70px;
    background-color: red;
    color: white;
    border: none;
    }
}
.foot{max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .foot1{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
.main3{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
    .t1{
        display: flex;
        align-items: center;
        gap: 10px;
    } 
    h1{
        font-size: 35px;
    }
}
.main4{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
 .main5{
    max-width: 330px;
    height: 760px;
    box-shadow: 0px 0px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid blue;
    button{
        border: 1px solid red;
        padding: 10px 30px;
        color: red;
        border-radius: 20px;
    }
    .t1{
        display: flex;
        align-items: center;
        gap: 10px; 

    }
 }
 .main6{
    max-width: 330px;
    height: 760px;
    box-shadow: 0px 0px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid red;
    button{
        border: 1px solid red;
        padding: 10px 30px;
        color: red;
        border-radius: 20px;
        background-color: red;
        color: white;
    }
    .t1{
        display: flex;
        align-items: center;
        gap: 10px; 

    }
 }
}
.main7{
    max-width: 1200px;
    display: flex;
    align-items: center;
flex-direction: column;
text-align: center;
margin: auto;
h1{
    font-size: 35px;
    margin-top: 100px;
}
p{
padding-bottom: 100px;
}
}
.q3{
    text-align: center;
    padding-bottom: 50px;
    h1{
        font-size: 40px;
    }
}
.q4{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .q5{
        display: flex;
        align-items: center;
    }
}
.main8{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    .q1{
        max-width: 300px;
        height: 130px;
        box-shadow: 0px 0px 1px;
      padding: 50px;
        .q2{
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
}
.main9{
    max-width: 1100px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 1px;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 30px;
    background-color: white;
    h1{
        font-size: 40px;
    }
    button{
        padding: 20px 60px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 10px;
    }
}
.foot3{
    max-width: 1400px;
    display: flex;
    margin: auto;
    background-color: #F8F8F8;
    padding: 50px;
    position: relative;
    z-index: -1;
    margin-top: -30px;
    justify-content: space-around;

    p{
        color: grey;
    }
}